#playlistScreen > .cover {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
}
#playlistScreen > .cover > .editButton {
  cursor: pointer;
  background-color: white;
  width: 60px;
  border-radius: 50%;
}

#playlistScreen > .title {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-family: var(--lato);
  font-weight: 200;
}
#playlistScreen > .editPlayListModal {
  padding: 100px 0px;
  position: fixed;
  display: flex;
  justify-content: center;

  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 7, 22, 0.89);
}
#playlistScreen > .editPlayListModal.hidden {
  display: none;
}

#playlistScreen > .editPlayListModal > .modalPanel {
  display: flex;
  flex-direction: column;
  padding: 50px 5%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  min-width: 350px;
}
#playlistScreen > .editPlayListModal > .modalPanel > h1 {
  margin: 35px 0px;
  font-size: 40px;
  font-family: var(--lato);
  font-weight: 200;
  text-align: center;
}

#playlistScreen > .editPlayListModal > .modalPanel > Label {
  font-family: var(--comfortaa);
  font-size: var(--subtitleFontSize);
  margin: 20px 0px;
}
#playlistScreen > .editPlayListModal > .modalPanel > Input {
  font-family: var(--lato);
  border-radius: 5px;
  font-size: var(--subtitleFontSize);
  padding: 15px 20px;
  background-color: rgba(123, 89, 216, 0.376);
  font-weight: 400;
}

#playlistScreen > .editPlayListModal > .modalPanel > .submit {
  cursor: pointer;
  padding: 20px 50px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  background-color: var(--accentColor);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-family: var(--lato);
  margin: 20px;
  font-size: var(--subtitleFontSize);
  box-shadow: rgba(46, 46, 46, 0.678) 0px 2px 6px;
}
#playlistScreen > .editPlayListModal > .modalPanel > .submit:hover {
  box-shadow: #76ffe6 0px 2px 10px 5px;
  background-color: #36ffda;
}
#playlistScreen > .editPlayListModal > .closeModalBtn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
}

#playlistScreen > .editPlayListModal > .modalPanel > .playlistContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(123, 89, 216, 0.376);
}
#playlistScreen > .editPlayListModal > .modalPanel > .playlistContent > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  list-style-type: none;
  flex-wrap: wrap;
}

#playlistScreen
  > .editPlayListModal
  > .modalPanel
  > .playlistContent
  > .playlistContentContainer
  > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 20px;

  border-radius: 4px;
  background-color: var(--primmaryColor);
}
#playlistScreen
  > .editPlayListModal
  > .modalPanel
  > .playlistContent
  > .playlistContentContainer
  > li
  > h2 {
  color: white;
  font-weight: 100;
  font-size: var(--paragraphFontSize);
  font-family: var(--comfortaa);
}

#playlistScreen
  > .editPlayListModal
  > .modalPanel
  > .playlistContent
  > .playlistContentContainer
  > li
  > img {
  width: 20px;
  cursor: pointer;
}

#playlistScreen > .editPlayListModal > .modalPanel > .playlistContent > input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
  font-size: var(--paragraphFontSize);
  font-family: var(--comfortaa);
  border-radius: 4px;
}

#playlistScreen
  > .editPlayListModal
  > .modalPanel
  > .playlistContent
  > .addBtn {
  margin: 20px 0px;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  width: 45px;
  height: 45px;
  font-family: var(--comfortaa);
  font-size: var(--titleFontSize);
  color: white;
  background-color: var(--accentColor);
}
