@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --titleFontSize: 34px;
  --subtitleFontSize: 24px;
  --primmaryColor: #1d1449;
  --accentColor: #03cca8;
  --secondaryColor: #84b7fb;
  --darkSecondaryColor: #0d0439;
  --violetColor: #383881;
  --lightVioletColor: #6685c6;
  --comfortaa: "Comfortaa", cursive;
  --lato: "Lato", sans-serif;
}

* {
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px 40px;
}
main > section {
  margin: 20px 0;
  max-width: 2000px;
  min-width: 300px;
  width: 100%;
}

main > section > h1 {
  font-size: var(--titleFontSize);
  font-family: var(--comfortaa);
  font-weight: 600;
}

.hidden {
  display: none;
}
