:root {
  --primmaryColor: #1d1449;
}

* {
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-grow: 1;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}
main > section {
  margin: 20px 0;

  max-width: 2000px;
  min-width: 300px;
  width: 100%;
}

.hidden {
  display: none;
}
